.nav{
    background-color: #f4f4f4;
    padding: 30px;
    margin-top: 50px;
    border-top: 2px solid #ddd;
    text-align: center;
}

.navcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: 20px auto;

}

.navcontainer a{
    text-decoration: none;
    color: #333;
    padding: 10px;
    background: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    transition: 0.3s;
}

.navcontainer a:hover{
    background-color: #4CAF50;
    color: #e0e0e0;
    border-color: #4CAF50;
}